NodeRed/flows (2).json
[{"id":"4101d4e5.e957cc","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"27c1d4d5.f5e00c","type":"ibmiot in","z":"4101d4e5.e957cc","authentication":"apiKey","apiKey":"82d99a3f.02e488","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"700425","applicationId":"","deviceType":"VITshre","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":140,"wires":[["4ffcdfd6.1431c","30232676.6e9a3a"]]},{"id":"af80a392.d1a0f","type":"ibmiot out","z":"4101d4e5.e957cc","authentication":"apiKey","apiKey":"82d99a3f.02e488","outputType":"cmd","deviceId":"700425","deviceType":"VITshre","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":980,"y":640,"wires":[]},{"id":"4ffcdfd6.1431c","type":"debug","z":"4101d4e5.e957cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":140,"wires":[]},{"id":"30232676.6e9a3a","type":"function","z":"4101d4e5.e957cc","name":"Waterlevel","func":"msg.payload = msg.payload.waterlevel\nglobal.set('w',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":220,"wires":[["94ff5d1.18252a","4ffcdfd6.1431c"]]},{"id":"94ff5d1.18252a","type":"ui_gauge","z":"4101d4e5.e957cc","name":"","group":"769b0abe.121da4","order":8,"width":25,"height":6,"gtype":"gage","title":"Waterlevel","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"14bee562.0176cb","type":"ui_button","z":"4101d4e5.e957cc","name":"","group":"769b0abe.121da4","order":15,"width":13,"height":1,"passthru":false,"label":"PUMP ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"pumpon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":340,"wires":[["82ad3027.f5f9f","af80a392.d1a0f"]]},{"id":"3e754797.560d58","type":"ui_button","z":"4101d4e5.e957cc","name":"","group":"769b0abe.121da4","order":16,"width":13,"height":1,"passthru":false,"label":"PUMP OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"pumpoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":420,"wires":[["82ad3027.f5f9f","af80a392.d1a0f"]]},{"id":"82ad3027.f5f9f","type":"debug","z":"4101d4e5.e957cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":480,"wires":[]},{"id":"753cfabc.43c0d4","type":"ui_button","z":"4101d4e5.e957cc","name":"","group":"769b0abe.121da4","order":17,"width":13,"height":1,"passthru":false,"label":"FEED ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"feedon\"}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":560,"wires":[["82ad3027.f5f9f","af80a392.d1a0f"]]},{"id":"4f0048ec.63f668","type":"ui_button","z":"4101d4e5.e957cc","name":"","group":"769b0abe.121da4","order":18,"width":13,"height":1,"passthru":false,"label":"FEED OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"feedoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":340,"y":660,"wires":[["82ad3027.f5f9f","af80a392.d1a0f"]]},{"id":"ce6bbb9c.a7d058","type":"http in","z":"4101d4e5.e957cc","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":290,"y":860,"wires":[["f2444137.48171"]]},{"id":"e5ec9811.a02db8","type":"http response","z":"4101d4e5.e957cc","name":"","statusCode":"","headers":{},"x":770,"y":820,"wires":[]},{"id":"f2444137.48171","type":"function","z":"4101d4e5.e957cc","name":"","func":"msg.payload = {\"waterlevel\" : global.get('w')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":880,"wires":[["e5ec9811.a02db8"]]},{"id":"b400375a.552258","type":"debug","z":"4101d4e5.e957cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":920,"wires":[]},{"id":"b1f5eb54.4a24d8","type":"http in","z":"4101d4e5.e957cc","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":290,"y":1000,"wires":[["f3e5661e.f8dd78","b400375a.552258","af80a392.d1a0f"]]},{"id":"f3e5661e.f8dd78","type":"http response","z":"4101d4e5.e957cc","name":"","statusCode":"","headers":{},"x":770,"y":1000,"wires":[]},{"id":"45f47362.22e70c","type":"http in","z":"4101d4e5.e957cc","name":"","url":"/control1","method":"get","upload":false,"swaggerDoc":"","x":320,"y":1100,"wires":[["6f415c67.1da284","b400375a.552258","af80a392.d1a0f"]]},{"id":"6f415c67.1da284","type":"http response","z":"4101d4e5.e957cc","name":"","statusCode":"","headers":{},"x":780,"y":1100,"wires":[]},{"id":"82d99a3f.02e488","type":"ibmiot","name":"project","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"769b0abe.121da4","type":"ui_group","name":"water level","tab":"eab86138.57d5e","order":1,"disp":true,"width":"26","collapse":false},{"id":"eab86138.57d5e","type":"ui_tab","name":"project","icon":"dashboard","disabled":false,"hidden":false}]